.circle-img {
    border-radius: 50%;
}

body {
    background: #091228; /* 80% Black */
    color: white;
    font-family: 'Roboto', sans-serif;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-content {
    width: 300px;
    height: 300px;
}

.button {
    color: white;
    border-radius: 10px;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition: 0.3s;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.button:hover {
    border: 2px solid #bf1650;
    transition: 0.3s;
}

.button:active {
    border-radius: 15px;
    transition: 0.3s;
}

h2,
h3,
h4 {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #bf1650;
}

.lang-badge {
    border: 1px solid white;
    background-color: #202b49;
    color: white;
    border-radius: 10px;
    padding: 0.4rem;
    width: fit-content;
}

p {
    margin-top: 1rem;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}
